#navcontent{
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    color: black;
}
table{
    background: #1CD8D2;  
    background: -webkit-linear-gradient(to right, #93EDC7, #1CD8D2);  
    background: linear-gradient(to right, #93EDC7, #1CD8D2); 
}
body{
    background: #0052D4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
thead{
    background-color: #1CD8D2;
}
#nav{
background: #2BC0E4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
}
table {
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 500;
    font-style: normal;
}
#continent{
    margin-top: 20px;
    width: 261px;
    height: 53px;
}
/* #Population{
   
    width: 390px;
    height: 53px;
} */
